<!DOCTYPE html>
<f:view
	contentType="text/html"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
>
	<ui:insert name="setup">
		<ui:insert name="setup_specific" />
	</ui:insert>
	<ui:insert name="external_html">
		<!--[if lt IE 7]>
			<html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="pt-BR">
		<![endif]-->
		<!--[if IE 7]>
			<html class="no-js lt-ie9 lt-ie8" lang="pt-BR">
		<![endif]-->
		<!--[if IE 8]>
			<html class="no-js lt-ie9" lang="pt-BR">
		<![endif]-->
		<!--[if gt IE 8]><!-->
			<html
				class="no-js"
				lang="pt-BR"
			>
		<!--<![endif]-->
			<ui:insert name="html">
				<ui:insert name="external_head">
					<h:head>
						<ui:insert name="head">
							<ui:insert name="head_meta">
								<meta charset="UTF-8" />
								<ui:insert name="head_meta_specific" />
							</ui:insert>
							<ui:insert name="head_title">
								<title><ui:insert name="title" /></title>
							</ui:insert>
							<ui:insert name="head_css">
								<ui:insert name="head_css_specific" />
							</ui:insert>
							<ui:insert name="head_js">
								<ui:insert name="head_js_specific" />
							</ui:insert>
							<ui:insert name="head_other" />
						</ui:insert>
					</h:head>
				</ui:insert>
				<ui:insert name="external_body">
					<h:body>
						<ui:insert name="body">
						</ui:insert>
					</h:body>
				</ui:insert>
			</ui:insert>
		</html>
	</ui:insert>
</f:view>