<ui:composition
	template="/WEB-INF/private/xhtml/main/main.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:c="http://java.sun.com/jsp/jstl/core"
	xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:o="http://omnifaces.org/ui"
	xmlns:of="http://omnifaces.org/functions"
>
	<ui:define name="head_meta">
		<meta charset="UTF-8" />
		<meta
			http-equiv="X-UA-Compatible"
			content="IE=edge,chrome=1"
		/>
		<meta
			name="description"
			content=""
		/>
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1"
		/>
		<ui:insert name="head_meta_specific" />
	</ui:define>
	<ui:define name="head_css">
		<link
			rel="stylesheet"
			type="text/css"
			href="#{request.contextPath}/css/main.css"
		/>
<!-- 		<link -->
<!-- 			type="text/css" -->
<!-- 			rel="stylesheet" -->
<!-- 			href="#{request.contextPath}/vendor/font-awesome/4.6.3/css/font-awesome.min.css" -->
<!-- 		/> -->
		<ui:insert name="head_css_specific" />
	</ui:define>
	<ui:define name="head_other">
<!-- 		<link -->
<!-- 			rel="apple-touch-icon" -->
<!-- 			href="#{request.contextPath}/image/icon/apple-touch.png" -->
<!-- 		/> -->
	</ui:define>
	<ui:define name="head_js">
<!-- 		<script -->
<!-- 			type="text/javascript" -->
<!-- 			src="#{request.contextPath}/vendor/modernizr/2.8.3/modernizr.min.js" -->
<!-- 		></script> -->
<!-- 		<script -->
<!-- 			type="text/javascript" -->
<!-- 			src="#{request.contextPath}/vendor/respond/1.4.2/respond.min.js" -->
<!-- 		></script> -->
<!-- 		<script -->
<!-- 			type="text/javascript" -->
<!-- 			src="#{request.contextPath}/js/main.js" -->
<!-- 		></script> -->
		<ui:insert name="head_js_specific" />
	</ui:define>
	<ui:define name="body">
		<ui:insert name="external_header">
<!-- 			<header> -->
				<ui:insert name="header">
					<!--[if lt IE 8]>
				<p class="old-browser">
					Você está usando um navegador <strong>desatualizado</strong>.
					Por favor <a href="http://browsehappy.com/">atualize</a> o seu navegador para que você possa desfrutar de uma experiência melhor.
				</p>
			<![endif]-->
				</ui:insert>
<!-- 			</header> -->
		</ui:insert>
		<ui:insert name="external_content">
			<section
				id="content"
			>
				<ui:insert name="content" />
			</section>
		</ui:insert>
		<ui:insert name="growl">
			<h:form id="growl">
				<p:growl
					id="growlGrowl"
					widgetVar="growlGrowlWV"
					showDetail="true"
					autoUpdate="false"
					showSummary="true"
				/>
			</h:form>
		</ui:insert>
		<ui:insert name="external_footer">
			<footer>
				<ui:insert name="footer">
					<footer>
						<p>Desenvolvido por Danilo Araújo Silva (silva.danilo.araujo@gmail.com)</p>
					</footer>
				</ui:insert>
			</footer>
		</ui:insert>
	</ui:define>
</ui:composition>