@charset "UTF-8";

#gameForm {
	margin: 3em auto 0 auto;
	width: 50%;
	border-radius: 3em;
	-moz-border-radius: 3em;
	-webkit-border-radius: 3em;
	padding: 3em;
	background-color: #ffffff;
}

#gameForm h2 {
	text-align: center;
	font-weight: lighter;
}

#gameForm .breath {
	margin: 1em 0 0 0;
}

#gameForm .ui-button {
	padding: 0.7em;
	font-size: 1.2em;
}