@charset "UTF-8";

@import "primefaces-overwrite.css";

body {
	margin: 0;
	border: 0;
	background-color: #34adb9;
}

footer {
	font-size: 0.9em;
	text-align: center;
}

.text-align-center {
	text-align: center;
}

.margin-0-auto {
	margin: 0 auto;
}