<ui:composition
	template="/WEB-INF/private/xhtml/main/page.xhtml"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
>
	<ui:define name="title">Jogo do Bicho</ui:define>
	<ui:define name="head_css_specific">
		<link
			href="#{request.contextPath}/css/index.css"
			rel="stylesheet"
			type="text/css"
		/>
	</ui:define>
	<ui:define name="content">
		<h:form
			id="menuForm"
		>
			<p:toolbar>
				<f:facet name="left">
<!-- 					<img -->
<!-- 						src="#{request.contextPath}/image/logo.svg" -->
<!-- 						alt="Jogo do Bicho" -->
<!-- 					/> -->
					<p:outputLabel value="Jogo do Bicho" />
				</f:facet>
				<f:facet name="right">
					<p:commandButton
						value="Início"
						onclick="window.location.reload();"
					/>
					<p:menuButton value="Opções">
						<p:menuitem
							value="Apagar Informações"
							actionListener="#{jogoDoBichoMB.apagarInformacoes()}"
							update=":growl, @(.game)"
						/>
						<p:menuitem
							value="Retornar ao Original"
							actionListener="#{jogoDoBichoMB.retornarAoOriginal()}"
							update=":growl, @(.game)"
						/>
					</p:menuButton>
				</f:facet>
			</p:toolbar>
		</h:form>
		<h:form
			id="gameForm"
			styleClass="game"
		>
			<p:outputPanel
				id="escolhendoAnimal"
				rendered="#{jogoDoBichoMB.permissions.escolhendoAnimal}"
			>
				<h2>Vamos começar! Primeiro pense em um animal.</h2>
				<h2>Quando você estiver pronto clique em continuar.</h2>
								
				<p:outputPanel styleClass="breath text-align-center">
					<p:commandButton
						value="Continuar"
						actionListener="#{jogoDoBichoMB.animalEscolhido()}"
						process="@this"
						update="@(.game)"
					/>
				</p:outputPanel>
			</p:outputPanel>
			
			<p:outputPanel
				id="perguntandoSeAnimalEscolhidoTemHabilidade"
				rendered="#{jogoDoBichoMB.permissions.perguntandoSeAnimalEscolhidoTemHabilidade}"
			>
				<h2>O animal que você pensou #{jogoDoBichoMB.current.question}?</h2>
				
				<p:outputPanel styleClass="breath text-align-center">
					<p:commandButton
						value="Sim"
						actionListener="#{jogoDoBichoMB.animalPossuiAHabilidade()}"
						process="@this"
						update="@(.game)"
					/>
					
					<p:commandButton
						value="Não"
						actionListener="#{jogoDoBichoMB.animalNaoPossuiAHabilidade()}"
						process="@this"
						update="@(.game)"
					/>
				</p:outputPanel>
			</p:outputPanel>
			
			<p:outputPanel
				id="perguntandoSeEOAnimalEscolhido"
				rendered="#{jogoDoBichoMB.permissions.perguntandoSeEOAnimalEscolhido}"
			>
				<h2>O animal que você pensou é o(a) #{jogoDoBichoMB.current.question}?</h2>
				
				<p:outputPanel styleClass="breath text-align-center">
					<p:commandButton
						value="Sim"
						actionListener="#{jogoDoBichoMB.animalEscolhidoEncontrado()}"
						process="@this"
						update="@(.game)"
					/>
					
					<p:commandButton
						value="Não"
						actionListener="#{jogoDoBichoMB.animalEscolhidoNaoEncontrado()}"
						process="@this"
						update="@(.game)"
					/>
				</p:outputPanel>
			</p:outputPanel>
		
			<p:outputPanel
				id="animalEscolhidoEncontrado"
				rendered="#{jogoDoBichoMB.permissions.animalEscolhidoEncontrado}"
			>
				<h2>Ahá! Acertei novamente!</h2>
				
				<p:outputPanel styleClass="breath text-align-center">
					<p:commandButton
						value="Jogar novamente"
						actionListener="#{jogoDoBichoMB.salvarERecomecar()}"
						process="@this"
						update="@(.game)"
					/>
				</p:outputPanel>
			</p:outputPanel>
			
			<p:outputPanel
				id="perguntandoQualEOAnimal"
				rendered="#{jogoDoBichoMB.permissions.perguntandoQualEOAnimal}"
			>
				<h2>Desisto...</h2>
				<h2>Qual foi o animal que você escolheu?...</h2>
				
				<p:inputText value="#{jogoDoBichoMB.current.yes.question}" />
				
				<p:outputPanel styleClass="breath text-align-center">
					<p:commandButton
						value="Continuar"
						actionListener="#{jogoDoBichoMB.adicionandoNovoAnimal()}"
						update="@(.game)"
						process=":gameForm:perguntandoQualEOAnimal"
					/>
				</p:outputPanel>
			</p:outputPanel>
			
			<p:outputPanel
				id="perguntandoAHabilidadeDoNovoAnimal"
				rendered="#{jogoDoBichoMB.permissions.perguntandoAHabilidadeDoNovoAnimal}"
			>
				<h2>Sobre esse(a) tal de #{jogoDoBichoMB.current.yes.question}...</h2>
				<h2>Preciso que você complete a seguinte frase...</h2>
				
				<p:outputPanel
					styleClass="text-align-center"
				>
					<h:outputText value="Um(a) #{jogoDoBichoMB.current.yes.question} " />
					<p:inputText value="#{jogoDoBichoMB.current.question}" style="width: 10em;" />
					<h:outputText value=" mas um(a) #{jogoDoBichoMB.current.no.question} não." />
				</p:outputPanel>
				
				<p:outputPanel styleClass="breath text-align-center">
					<p:commandButton
						value="Obrigado! Vamos tentar novamente!"
						actionListener="#{jogoDoBichoMB.salvarERecomecar()}"
						process=":gameForm:perguntandoAHabilidadeDoNovoAnimal"
						update="@(.game)"
					/>
				</p:outputPanel>
			</p:outputPanel>
		</h:form>
	</ui:define>
</ui:composition>